doctype
html
  head
    block title
      title= title
    link(rel='stylesheet', href='/css/programs.css')
    link(rel='stylesheet', href='/alertify.js/themes/alertify.core.css')
    link(rel='stylesheet', href='/alertify.js/themes/alertify.default.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/alertify.js/lib/alertify.min.js')
    script(src='/js/common.js')
    block scripts
  body
    #header
      a(href="/") moareco
      form#search(action="/program/search/")
        input(type="text",name="word",placeholder="search")
      a(href="/program/reserved") reserved
      a(href="/video") videos
      a(href="/video/delete") delete
    block content
