doctype
html
  head
    - var titleBase = 'もあれこ';
    block title
    link(rel='stylesheet', href='/css/programs.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/js/common.js')
    block scripts
  body
    header
      a(href="/") moareco
      form#search(action="/program/search/")
        input(type="text",name="word",placeholder="search", value=searchWord)
      a(href="/program/reserved") reserved
      a(href="/video") videos
      a(href="/video/delete") delete
    block content
