doctype
html
  head
    title= title
    link(rel='stylesheet', href='css/programs.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='js/programs.js')
  body
    h1 programs
    #container
      .hour
      .channel

