extends ./layout

block title
  title= data.title

block content
  h1= data.title
  h2= data.detail
  form(action="/program/reserve/#{data.eid}", method="post")
    input(type="submit", value="録画予約")
