extends ./layout

block title
  title= title

block content
  #container
    #col2
      #list
        h1 reserved
        for program, index in programs
          include ./programRow.jade
      #remark
        h1 pattern
        for reservation, index in reservations
          form(method="POST",action="/reserved/delete/#{reservation._id}")
            = reservation.title
            input(type="submit",value="x")
