h1 {
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}
video {
  width:90%;
}

#header {
  display: -webkit-box;
  position: fixed;
  top: 10px;
  z-index: 10000;
  background-color: whitesmoke;
}
#header a {
  display: block;
  padding: 5px 10px;
  margin: 5px 10px;
  background-color: silver;
}
#header form {
  margin: 5px 10px;
}
#search input {
  -webkit-border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
}

#container {
  margin-top: 80px;
  margin-bottom: 40px;
}
#programs {
  display: -webkit-box;
  border: 1px solid gray;
  background-color: whitesmoke;
  overflow-y: hidden;
}
#timeline {
  height: 2px;
  background-color: orange;
  z-index: 9998;
  position: absolute;
}

#hour div {
  box-sizing: border-box;
  width: 40px;
  font-size: 15px;
  background-color: darkgrey;
  border-top: 1px dotted white;
  text-align: center;
}
.channel {
  width: 200px;
  margin-right: 2px;
  position: relative;
}
.channel .program {
  display: block;
  box-sizing: border-box;
  width:100%;
  min-height:50px;
  background-color: white;
  border: 3px solid skyblue;
  -webkit-border-radius: 10px;
  position: absolute;
  overflow: hidden;
}
.channel .program:hover {
  background-color: aliceblue;
  border-color: deepskyblue;
}
.channel .program.reserved {
  border-color: red;
  background-color: pink;
}
.channel .program.reserved:hover {
  background-color: lightpink;
}
.channel .program div {
  margin: 5px 10px;
  word-break: break-all;
  font-size: 12px;
  line-height: 16px;
}
.channel .program .title {
  font-size: 13px;
}
.channel .program .detail {
  margin-top: 10px;
  color: dimgray;
}

#col2 {
  display: -webkit-box;
}

#list .row {
  display: -webkit-box;
}

#list .video {
  display: block;
  width: 400px;
  margin :2px 5px;
  padding: 5px 10px;
  border: 3px solid skyblue;
  -webkit-border-radius: 10px;
}
#list .video:hover {
  background-color: aliceblue;
  border-color: deepskyblue;
}
#list .video .title {
  font-weight: bold;
}
#list .video .detail {
  height: 1.4em;
  overflow: hidden;
  color: dimgray;
}
#list .tag {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 1px solid skyblue;
  -webkit-border-radius: 10px;
}
#list .deleteVideo input {
  cursor: pointer;
}

#remark {
  margin-left: 30px;
}
