h1 {
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}
video {
  width:90%;
}

header {
  display: -webkit-box;
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 10000;
  background-color: whitesmoke;
}
header a {
  display: block;
  padding: 2px 10px;
  margin: 5px 10px;
  background-color: silver;
}
header form {
  margin: 5px 10px;
}
#search input {
  -webkit-border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
}

aside {
  float: left;
  width: 240px;
  padding: 10px 15px;
  margin-bottom: 40px;
}
aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid skyblue;
}
aside li {
  white-space: nowrap;
  font-size: 14px;
}
aside li.selected {
  background-color: gainsboro;
  padding: 3px 10px;
  line-height: 1.4em;
}
aside li a {
  display: inline-block;
  width: 100%;
  padding: 3px 10px;
  line-height: 1.4em;
}
aside li a:hover {
  background-color: whitesmoke;
}
section {
  float: left;
  padding: 15px 20px;
}

#container {
  margin-top: 40px;
  margin-bottom: 40px;
}
#block {
  position: relative;
  display: -webkit-box;
}
#programs {
  display: -webkit-box;
  position: relative;
  width: 90%;
  border: 1px solid gray;
  background-color: whitesmoke;
  overflow-y: hidden;
}
#timeline {
  height: 2px;
  width: 100%;
  background-color: orange;
  z-index: 9998;
  position: absolute;
}
#timeBar .hour {
  position: relative;
  box-sizing: border-box;
  z-index: 9997;
  width: 40px;
  font-size: 15px;
  background-color: darkgrey;
  border-top: 1px dotted white;
  text-align: center;
}
#timeBar .date {
  position: fixed;
  z-index: 9996;
  width: 100%;
  height: 30px;
  background-color: dimgray;
  text-indent: 60px;
  color: white;
  font-weight: bold;
  opacity: 0.85;
  pointer-events: none;
}
.channel {
  width: 200px;
  margin-right: 2px;
  position: relative;
}
.channel .program {
  display: block;
  box-sizing: border-box;
  width:100%;
  min-height:50px;
  background-color: white;
  border: 3px solid skyblue;
  -webkit-border-radius: 10px;
  position: absolute;
  overflow: hidden;
}
.channel .program:hover {
  background-color: aliceblue;
  border-color: deepskyblue;
  z-index:9995!important;
}
.reserved {
  border-color: red!important;
  background-color: pink!important;
}
.reserved:hover {
  background-color: lightpink!important;
}
.channel .program div {
  margin: 5px 10px;
  word-break: break-all;
  font-size: 12px;
  line-height: 16px;
}
.channel .program .title {
  font-size: 13px;
}
.channel .program .detail {
  margin-top: 10px;
  color: dimgray;
}

#col2 {
  display: -webkit-box;
}

#list .row {
  display: -webkit-box;
}

#list .video {
  display: block;
  width: 500px;
  margin :2px 5px;
  padding: 5px 10px;
  border: 3px solid skyblue;
  -webkit-border-radius: 10px;
}
#list .video:hover {
  background-color: aliceblue;
  border-color: deepskyblue;
}
#list .video .title {
  font-weight: bold;
}
#list .video .detail {
  height: 1.4em;
  line-height: 1.4em;
  overflow: hidden;
  color: dimgray;
}
#list .tag {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 1px solid skyblue;
  -webkit-border-radius: 10px;
}
#list .deleteVideo input {
  cursor: pointer;
}
#delete-list {
  text-align: right;
  margin: 20px 0;
}
#delete-list input {
  padding: 3px 5px;
  font-weight: bold;
  border: solid 1px red;
  background-color: white;
  color: red!important;
}
#delete-list input:hover {
  background-color: red;
  color: white!important;
}

#remark {
  margin-left: 30px;
}
