extends ../layout

block title
  title videos

block content
  #container
    #list
      h1 deleted video
      div(style="clear:both;")
        for video, index in videos
          .row
            a.video(href="/video/#{video._id}", target="_blank")
              .title= video.title
              .detail= video.detail
            form(method="POST",action="/video/delete/cancel/#{video._id}")
              input(type="submit",value="cancel")
