extends ../layout

block title
  title #{titleBase} - 予約

block content
  #container
    #col2
      #list
        h1 reserved
        for program, index in programs
          include ./listRow.jade
      #remark
        h1 pattern
        for reservation, index in reservations
          form(method="POST",action="/program/reserved/delete/#{reservation._id}")
            = reservation.title
            input(type="submit",value="x")
