extends ../layout

block title
  title #{titleBase} - 「#{searchWord}」の検索結果

block content
  #container
    #list
      h1 searched
      for program, index in programs
        include ./listRow.jade
    
